{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'assets/logo.png' %}">
    <title>TextSentry | FraudLens</title>
    <link rel="stylesheet" href="{% static 'css/sections/result.css' %}">

</head>
<section class="text flex-center" id="text">    
    <h2>
        TextSentry
        Scan Texts<br/>
        for Scams
    </h2>
</section>